<div class="header">
  <div class="header-button header-button-left">
    <i class="icon icon-arrow-left"></i>Messages
  </div>
  <div class="header-title">Shakespeare</div>
  <div class="header-button header-button-right">Contacts</div>
</div>








<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>
<h2>List of sonnets: </h2>
<table>
  <thead>
  <td>Number</td>
  <td>Lines</td>
  </thead>
  <tbody>
  <tr *ngFor="let sonnet of sonnets">
    <td>{{sonnet.number}}</td>
    <td>{{sonnet.lines}}</td>
  </tr>
  </tbody>
</table>



<div class="footer">
  <label><input type="text" /></label>
  <button class="button button-clear" type="button">Send</button>
</div>
