.button-clear {
  background-color: transparent;
  color: #76767C;
  border: none;
  font-weight: bold;
  padding: 0;
}

.footer {
  background-color: #F8F8F8;
  bottom: 0;
  border-top: 1px solid #DDDDDD;
  position: fixed;
  width: 100%;
  line-height: 40px;
}

.footer-content {
  padding: 0 10px;
}

.footer input {
  border: 1px solid #D7D7D7;
  border-radius: 5px;
  height: 20px;
  width: 80%;
}

.footer .button-clear {
  width: 15%;
}


.header {
  top: 0;
  width: 100%;
  position: fixed;
  background-color: #F5F5F5;
  line-height: 40px;
  text-align: center;

}

.header-button {
  color: #1780FC;
  position: absolute;
  top: 0;
}

.header-button-left {
  left: 20px;
}

.header-button-right {
  right: 10px;
}

.header-title {
  font-weight: bold;
}

.icon {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  left: -15px;
}

.icon-arrow-left {
  border-color: transparent;
  border-width: 10px;
  border-style: solid;
  border-left: 0;
  border-right-color: #1780FC;
}
