<div class="header">
  <div class="header-button header-button-left">
    <i class="icon icon-arrow-left"></i>Messages
  </div>
  <div class="header-title">Shakespeare</div>
  <div class="header-button header-button-right">Contacts</div>
</div>

<div class="content">
  <!--<div class="message" *ngFor="let sonnet of formattedSonnets">{{sonnet.linesFormatted}}</div>-->

</div>

<div class="footer">
  <div class="footer-content">
    <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
      <label><input type="text" placeholder="iMessage" /></label>
      <button class="button button-clear" type="submit">Send</button>
    </form>
  </div>
</div>
