<div class="header">
  <div class="header-button header-button-left">
    <i class="icon icon-arrow-left"></i>Messages
  </div>
  <div class="header-title">Shakespeare</div>
  <div class="header-button header-button-right">Contacts</div>
</div>

<div class="content">
  <div class="message" *ngFor="let message of messages">
    <div class="message-content">{{message.text}}</div>
  </div>

</div>

<div class="footer">
  <div class="footer-content">
    <form (ngSubmit)="onSubmit()" #messageForm="ngForm">
      <label><input [(ngModel)]="model.message" name="message" type="text" placeholder="iMessage" required /></label>
      <button class="button button-clear" type="submit" [disabled]="!messageForm.form.valid">Send</button>
    </form>
  </div>
</div>
